.trail-card {
  display: flex;
  height: 100px;
  box-shadow: 1px 1px 45px #AAF;
  border-radius: 10px;
  padding: 10px;
  background-color: #FFFEFB;
  margin: 15px 0px;
}

.card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-text h4, p{
  margin: 0px;
}
