.controls {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#search {
  margin-top: 19px;
}
