body {
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    background-image: url('./images/telluride.jpeg');
    background-blend-mode: overlay;
    background-color: #4f4e4e;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 80%;
    color: #27282B;
}

h1 {
    font-weight: 100;
    font-size: 35px;
    font-family: 'Rock Salt', cursive;
    color: #FFE242;
    margin-top: 0;
    letter-spacing: 8px;
    border-bottom: 1px solid #aaa;
    padding-bottom: 20px;
}

h3 {
    font-weight: 100;
}

input {
    border: none;
    outline: none;
    height: 30px;
    width: 180px;
    padding: 5px;
    margin-right: 5px;
    /*box-shadow: 1px 1px 45px #FFE242;*/
    border-radius: 10px;
    font-size: 16px;
    font-weight: 100;
    text-align: center;
}

button {
    height: 42px;
    border: none;
    padding: 0;
    margin: 0;
    width: 80px;
    border-radius: 10px;
    /* display: block; */
    background-color: #5B775F;
    color: white;
    text-transform: uppercase;
}

button:hover {
  color: #FFE242;
  cursor: pointer;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.copyright {
  color: #E6DED1;
  margin-top: 320px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  margin: 15px 0px;
}

.button {
  text-decoration: none;
  color: #E6DED1;
}

.button:hover {
  color: #FFE242;
}

.controls {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 15px;
}

.input label {
  margin-left: 5px;
  margin-bottom: 5px;
  color: #FFE242;
}

#search {
  margin-top: 25px;
  font-size: 12px;
}

.no-data {
  color: #E6DED1;
}

.card-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 80%;
}

#filter-bar {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#filter-bar select {
  height: 42px;
  font-size: 12px;
  margin: 10px 30px;
}

.trail-card {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  box-shadow: 1px 1px 45px #5B775F;
  border-radius: 10px;
  padding: 10px;
  background-color: #E6DED1;
  margin: 15px 0px;
  width: 80%;

}

.card-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-img {
  position: relative;
  margin-right: 10px;
}

.card-text h4 {
  max-width: 175px;
  margin: 20px, 0px;
}

.card-text p {
  max-width: 200px;
  margin: 20px, 0px;
}


.card-text .button {
  color: #27282B;
}

.card-text .button:hover {
  color: #5B775F;
}

.trail-conditions {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  box-shadow: 1px 1px 45px #5B775F;
  border-radius: 10px;
  padding: 10px;
  background-color: #E6DED1;
  margin: 15px 0px;
  max-width: 75%;
}

.trail-conditions p {
  max-width: 300px;
}

.trail-conditions .button {
  color: #27282B;
}

.trail-conditions .button:hover {
  color: #5B775F;
}

#meter {
  width: 75px;
}

@media screen and (max-width: 950px) {
  .trail-card {
    justify-content: space-around;
  }

  .card-text {
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .controls {
    flex-direction: column;
  }

  #filter-bar {
    flex-direction: column;
  }

  .trail-card {
    flex-direction: column;
  }
}
